% 다음을 copy하여 사용하세요

% pip 최신버전 업데이트
python -m pip install --upgrade pip

% python version
python 3.12.13

% python libraries
!pip install numpy 2.0.2
!pip install pandas 2.2.2
!pip install matplotlib 3.10.0
!pip install seaborn 0.13.2
!pip install ipykernel 6.17.1